{% extends 'base.html' %}

{% block content %}
    <h1>Portfolio</h1>
    <h1>Hobbies</h1>

    <div class = "hobbies-cards">
        <h1>{% block title %}Our Hobbies{% endblock %}</h1>
        <div class = "block">
            <div class = "row">
                <div class="card col-lg-4 col-md-4 col-sm-12">
                    <div class="card col-lg-12 col-md-12 col-sm-12">
                    </img class = "top image" src = "https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.sespm.es%2Favatar-1577909_960_720%2F&psig=AOvVaw15bl--gISX943W5dNNNaiC&ust=1654367342890000&source=images&cd=vfe&ved=0CAwQjRxqFwoTCNCAheH0kfgCFQAAAAAdAAAAABAD" alt = "Avatar">
                    <ul>
                        <li></li>
                    </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
