{% extends 'base.html' %}

{% block content %}
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">      
    <style>
        .project-title {
          color: black;
          text-align: center;
        }
        hr {
          border: 10px solid cornflowerblue;
          border-radius: 5%;
          margin: 70px;
          max-width: 50%;
          margin-left: 25%;
          margin-right: auto;
        }
        .carousel {
          margin-left: 15%;
          margin-right: auto;
          max-width: 70%;
          padding-top: 20px;
        }
    </style>
  </head>
  <header class="header">
    <div class="description">
      <h1>Welcome!</h1>
      <p>This is our portfolio. Scroll down to learn more about us! MLH Fellowship Summer 2022! Yeah!</p>
      <button class="btn btn-outline-secondary btn-lg">Learn More</button>
  </div>
  </header>
  <div class="about-cards">
    <h1>{% block title %}About{% endblock %}</h1>
    <div class="container">
      <div class="row">
        <div class="card col-lg-4 col-md-4 col-sm-12">
          <div class="card col-lg-12 col-md-12 col-sm-12">
            <img class="card-img-top" src="https://st2.depositphotos.com/7316806/49894/v/380/depositphotos_498942588-stock-illustration-avatar-man-person-face-icon.jpg?forcejpeg=true" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">Luis</h4>
              <h6 class="card-subtitle mb-2 text-muted">City, Country</h6>
              <p class="card-text">This is Luis. This is some example text. This is some example text. This is some example text. This is some example text.</p>
            </div>
          </div>
        </div>
        <div class="card col-lg-4 col-md-4 col-sm-12">
          <div class="card col-lg-12 col-md-12 col-sm-12">
            <img class="card-img-top" src="https://st2.depositphotos.com/7316806/49894/v/380/depositphotos_498942588-stock-illustration-avatar-man-person-face-icon.jpg?forcejpeg=true" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">Lin</h4>
              <h5 class="card-subtitle mb-2 text-muted">City, Country</h5>
              <p class="card-text">This is Lin. This is some example text. This is some example text. This is some example text. This is some example text. </p>
            </div>
          </div>
        </div>
        <div class="card col-lg-4 col-md-4 col-sm-12">
          <div class="card col-lg-12 col-md-12 col-sm-12">
            <img class="card-img-top" src="https://st2.depositphotos.com/7316806/49894/v/380/depositphotos_498942588-stock-illustration-avatar-man-person-face-icon.jpg?forcejpeg=true" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">Ixchel</h4>
              <h5 class="card-subtitle mb-2 text-muted">City, Country</h5>
              <p class="card-text">This is Ixchel. This is some example text. This is some example text. This is some example text. This is some example text. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="divider" />
  <div class="project-carousel">
    <h1 class="project-title">Projects</h1>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="https://www.sattvagroup.in/wp-content/uploads/2018/05/Image-Tower.jpg" alt="First slide">
          <div class="carousel-caption d-none d-md-block">
            <h5>Luis's Project</h5>
            <p>This is Luis's Project. This is some sample text. This is some sample text. This is some sample text. This is some sample text. This is some sample text. This is some sample text.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="https://www.sattvagroup.in/wp-content/uploads/2018/05/Image-Tower.jpg" alt="Second slide">
          <div class="carousel-caption d-none d-md-block">
            <h5>Lin's Project</h5>
            <p>This is Lin's Project. This is some sample text. This is some sample text. This is some sample text. This is some sample text. This is some sample text. This is some sample text.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="https://www.sattvagroup.in/wp-content/uploads/2018/05/Image-Tower.jpg" alt="Third slide">
          <div class="carousel-caption d-none d-md-block">
            <h5>Ixchel's Project</h5>
            <p>This is Ixchel's Project. This is some sample text. This is some sample text. This is some sample text. This is some sample text. This is some sample text. This is some sample text.</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
{% endblock %}


