{% extends 'base.html' %}
{% block content %}

<div class="timeline">
    <div class="hero">
        <h1 id="page-title">{% block title %}Forms{% endblock %}</h1>
        <h5>My timeline</h5>
    </div>

    <form  id = "form"> 
        <!--LABEL es para denotar que es lo que debe escribir el usuario en la casilla-->
        <label for="theName">Name</label> <!--El FOR es para hacer referencia al id de la casilla, para que igualmente se active el cursor si le damos click al texto de "Nombre" y no a la casilla directamente-->
        <input type="text" id="theName" name="name" placeholder="Name"/> 
        <br>  <!--Los BR son saltos de linea-->
        <label for="theEmail">Email</label>
        <input type="text" id="theEmail" name="email" placeholder="Email"/>
        <br>
        <!--TEXTAREA es para crear cuadros de input, con muchos mas caracteres-->
        <textarea cols = "40" rows = "10" id="theContent" placeholder = "Ingrese comentario" name="content"></textarea>
        <br>
        <button type="submit">Submit</button>
    </form>

    <div id='mytimeline'>
    </div>

    <script>
        const form = document.getElementById('form');

        form.addEventListener('submit', function(e){
            e.preventDefault();

            const prePayload = new FormData(form);
            const payload = new URLSearchParams(prePayload);

            console.log([...payload]);

            fetch('/api/timeline_post', {
                method: "POST",
                body: payload,
            })
                .then(res => res.json())
                .then(data => console.log(data))
                .then(() => {
                    window.location.reload();
                })
                .catch(err => console.log(err));
        })
    </script>

    <script>
        async function fetchInfo(){

                response = await fetch('/api/timeline_post', {
                method: "GET",
                })
                data = await response.json();
                console.log(data);
                const timeline = document.getElementById('mytimeline');
                timeline.innerHTML = "";
                posts = data.timeline_posts;

                for(i in posts)
                {
                    post = posts[i];
                    timeline.innerHTML +=
                    `<div class="post" id="post-${post.id}>
                        <span class="name">${post.name}</span>
                        <span class="email">${post.email}</span>
                        <span class="create_at">${post.created_at}</span>
                        <p>${post.content}</p>
                    </div>`;
                }
            }
        window.onload=fetchInfo;
    </script>

</div>

{% endblock %}